In [ ]:
#importing required library, ofcourse pandas is included
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

#to make the graphs and plots embedded in the notebook
%matplotlib inline

In [ ]:
#importing the raw data form the source
rawData = pd.read_csv('https://raw.githubusercontent.com/Tejasmallikarjuncj/waterpota/main/water_potability.csv')
print(rawData.shape)
rawData.head()

(3276, 10)

         ph    Hardness       Solids  ...  Trihalomethanes  Turbidity  Potability
0       NaN  204.890456  20791.31898  ...        86.990970   2.963135           0
1  3.716080  129.422921  18630.05786  ...        56.329076   4.500656           0
2  8.099124  224.236259  19909.54173  ...        66.420093   3.055934           0
3  8.316766  214.373394  22018.41744  ...       100.341674   4.628771           0
4  9.092223  181.101509  17978.98634  ...        31.997993   4.075075           0

[5 rows x 10 columns]

In [ ]:
#cleaning the data and rejusting the indexes
rawData.dropna(subset=['ph','Turbidity','Solids','Sulfate'],axis=0,inplace=True)
rawData.index = range(1,rawData.shape[0]+1)

In [ ]:
rawData['Trihalomethanes'].interpolate(inplace=True)

In [ ]:
rawData = rawData.round(1)
rawData.head()

     ph  Hardness   Solids  ...  Trihalomethanes  Turbidity  Potability
1   8.3     214.4  22018.4  ...            100.3        4.6           0
2   9.1     181.1  17979.0  ...             32.0        4.1           0
3   5.6     188.3  28748.7  ...             54.9        2.6           0
4  10.2     248.1  28749.7  ...             84.6        2.7           0
5   8.6     203.4  13672.1  ...             62.8        4.4           0

[5 rows x 10 columns]

In [ ]:
ph = rawData
ph = ph.drop(ph[ ((ph['ph'] <=6.5) |  (ph['ph'] >=8.5)) & (ph['Potability']==1)].index)
ph = ph.drop(ph[ph['Potability']==0].index)
ph

       ph  Hardness   Solids  ...  Trihalomethanes  Turbidity  Potability
162   6.8     242.0  39143.4  ...             73.8        3.9           1
163   7.2     203.4  20401.1  ...             74.4        3.9           1
164   7.7     237.0  14245.8  ...             85.9        2.4           1
165   8.3     207.3  28049.6  ...             60.9        4.1           1
172   6.6     233.7  19598.9  ...             73.2        4.4           1
...   ...       ...      ...  ...              ...        ...         ...
2105  6.7     272.1  18989.3  ...             75.4        5.2           1
2108  8.4     198.5  28474.2  ...             35.2        4.5           1
2109  6.9     260.6  24792.5  ...             51.5        4.0           1
2111  8.2     203.1  27701.8  ...             62.9        3.4           1
2113  6.7     207.3  17246.9  ...             28.9        3.4           1

[428 rows x 10 columns]

In [ ]:
#rawData = rawData.drop(rawData[rawData['Potability']==0].index)

In [ ]:
solid = rawData
solid = solid.drop(solid[(solid['Solids'] >1000) & (solid['Potability']==1)].index)
solid = solid.drop(solid[solid['Potability']==0].index)
solid

Empty DataFrame
Columns: [ph, Hardness, Solids, Chloramines, Sulfate, Conductivity, Organic_carbon, Trihalomethanes, Turbidity, Potability]
Index: []

In [ ]:
hardness = rawData
hardness = hardness.drop(hardness[ (hardness['Hardness']>75) & (hardness['Potability']==1)] .index)
hardness = hardness.drop(hardness[hardness['Potability']==0].index)
hardness

       ph  Hardness   Solids  ...  Trihalomethanes  Turbidity  Potability
171  13.2      47.4  19237.9  ...             76.3        4.1           1
245   9.4      73.5  20438.2  ...             50.9        3.5           1

[2 rows x 10 columns]

In [ ]:
chloramines = rawData
chloramines = chloramines.drop(chloramines[ (chloramines['Chloramines']>4) & (chloramines['Potability']==1)].index)
chloramines = chloramines.drop(chloramines[chloramines['Potability']==0].index)
chloramines

       ph  Hardness   Solids  ...  Trihalomethanes  Turbidity  Potability
233   5.4     201.3  19410.2  ...             43.1        3.6           1
266   6.4     196.6  25740.4  ...             33.1        4.5           1
460   5.3     167.9  34768.9  ...             70.6        4.1           1
468   0.2     152.5  39028.6  ...             62.3        3.5           1
485   8.6     186.6  20590.7  ...             66.7        3.4           1
496   6.8     177.2  34596.0  ...             64.9        3.7           1
522   4.7     162.2  27215.9  ...             65.1        2.9           1
718   7.3     155.2  31161.4  ...             73.1        3.8           1
722   6.9     163.6  44586.8  ...             67.5        5.7           1
728   6.9     168.0  40588.4  ...             72.4        3.1           1
742   8.7     151.6  28301.5  ...             79.5        3.3           1
746   6.1     147.5  34865.3  ...             54.2        5.4           1
757   7.6     156.5  32833.4  ...             62.6        3.3           1
995   6.3      97.3  19743.1  ...             86.6        4.5           1
1004  8.9     215.7  56488.7  ...             70.8        4.4           1
1481  3.0     147.1  17326.2  ...             76.4        2.8           1
1498  6.9     217.8  19026.0  ...             76.8        2.0           1
1500  6.1     217.8  17162.8  ...             64.8        2.7           1
1514  7.6     243.0  17681.3  ...             76.5        4.3           1
1517  5.1     239.7  28390.9  ...             71.5        4.6           1
1519  6.7     250.4  24539.7  ...             60.0        3.4           1
1522  5.7     187.8  25868.6  ...             72.5        4.9           1
1534  4.7     176.7  24069.3  ...             77.9        5.5           1
1553  4.1     201.9  20556.0  ...             69.3        3.0           1
1563  7.5     246.9  22631.7  ...             79.7        3.8           1
1567  5.3     210.9  29228.3  ...             36.2        3.7           1
1586  6.5     224.8  26807.1  ...             63.7        3.2           1
1754  7.0     153.0  20389.6  ...             69.7        3.7           1
1807  9.0     205.9  15189.3  ...             65.6        1.8           1
2095  5.8     277.1  17711.5  ...             72.1        3.7           1

[30 rows x 10 columns]

In [ ]:
sulfate = rawData
sulfate = sulfate.drop(sulfate[ (sulfate['Sulfate']>30) & (sulfate['Potability']==1) ].index)
sulfate = sulfate.drop(sulfate[sulfate['Potability']==0].index)
sulfate

Empty DataFrame
Columns: [ph, Hardness, Solids, Chloramines, Sulfate, Conductivity, Organic_carbon, Trihalomethanes, Turbidity, Potability]
Index: []

In [ ]:
conductivity = rawData
conductivity = conductivity.drop(conductivity[ (conductivity['Conductivity']>400) & (conductivity['Potability']==1)].index)
conductivity = conductivity.drop(conductivity[conductivity['Potability']==0].index)
conductivity

       ph  Hardness   Solids  ...  Trihalomethanes  Turbidity  Potability
162   6.8     242.0  39143.4  ...             73.8        3.9           1
163   7.2     203.4  20401.1  ...             74.4        3.9           1
165   8.3     207.3  28049.6  ...             60.9        4.1           1
168   5.0     280.1  26849.2  ...             70.6        3.4           1
173   7.8     212.7  29879.1  ...             83.9        3.4           1
...   ...       ...      ...  ...              ...        ...         ...
2102  8.9     131.6  17433.6  ...             53.6        5.0           1
2103  6.0     225.1   5100.1  ...             36.3        4.0           1
2105  6.7     272.1  18989.3  ...             75.4        5.2           1
2112  9.0     215.0  15921.4  ...             55.1        4.6           1
2113  6.7     207.3  17246.9  ...             28.9        3.4           1

[340 rows x 10 columns]

In [ ]:
carbon = rawData
carbon = carbon.drop(carbon[ (carbon['Organic_carbon']>4) & (carbon['Potability']==1)].index)
carbon = carbon.drop(carbon[carbon['Potability']==0].index)
carbon

      ph  Hardness   Solids  ...  Trihalomethanes  Turbidity  Potability
505  5.1     209.4  21407.6  ...             86.7        4.2           1

[1 rows x 10 columns]

In [ ]:
turbid = rawData
turbid = turbid.drop(turbid[ (turbid['Turbidity']>5) & (turbid['Potability']==1)].index)
turbid = turbid.drop(turbid[turbid['Potability']==0].index)
turbid

        ph  Hardness   Solids  ...  Trihalomethanes  Turbidity  Potability
160    9.4     145.8  13168.5  ...             77.6        3.9           1
161    9.0     128.1  19859.7  ...             73.8        4.0           1
162    6.8     242.0  39143.4  ...             73.8        3.9           1
163    7.2     203.4  20401.1  ...             74.4        3.9           1
164    7.7     237.0  14245.8  ...             85.9        2.4           1
...    ...       ...      ...  ...              ...        ...         ...
2112   9.0     215.0  15921.4  ...             55.1        4.6           1
2113   6.7     207.3  17246.9  ...             28.9        3.4           1
2114  11.5      94.8  37188.8  ...             41.6        4.4           1
2115   6.1     186.7  26138.8  ...             60.4        3.7           1
2116   4.7     193.7  47581.0  ...             66.7        4.4           1

[778 rows x 10 columns]